extends ./layout-2col.jade

block content-left
  h2 About Us
  p.
    M L Tree Service is owned and operated by ISA Certified Arborist Michael Lynch.
    Michael has over ten years of experience working in the tree care industry.
    Through those years, Michael has been involved in all facets of tree work,
    from the largest removals to the most tedious trimming.
    With any work performed by M L Tree Service, quality, safety and our customer's
    satisfaction are always of the utmost importance.
    M L Tree Service is fully insured to protect our clients and their property.
    We look forward to providing you with professional, knowledgeable and top of the line service.
    Please contact us for a free estimate.
