doctype html
html(lang="en")
  head
    title= "ML Tree Service"
    link(rel='stylesheet', href='assets/css/all.min.css')
    link(rel='stylesheet', href='assets/fonts/acknowledgement/stylesheet.css')
  body
    header
      .first-row
        .row
          .large-9.columns
          .large-3.columns
            p.call Call Today: (315) 538-0222
      .row
        .large-8.columns
          img.logo(src="assets/images/mltree_logo_header.png", alt="ML Tree Service")
        .large-4.columns
          nav
            ul
              li
                a(href="default.html") Home
              li
                a(href="about.html") About
              li
                a(href="contact.html") Contact
    main
      block content