extends ./layout.jade

block content
  .row
    .medium-8.columns.left-column
      block content-left
    .medium-4.columns.right-column
      block content-right
        aside
          h3 ML Tree Service Offers
          .separator.leaf
          p 
            | Trimming
            br
            |Removals
            br
            |Cabling
            br
            |Emergency/Storage
          .separator.leaf
          p
            :markdown
              Please contact us at __(585) 298-4470__ if you
              require immediate attention due to a dangerous
              event.